@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Wajib ada */
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #d6e2f0;
}

#QR-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 15px;
}

#QR-container .QR,
#QR-container img {
  border-radius: 10px;
}

#QR-container .QR {
  padding: 1em;
  background-color: white;
  width: 90%;
  max-width: 320px;
}

#QR-container .QR img {
  max-width: 100%;
  height: auto;
}

#QR-container .text h2,
#QR-container .text p {
  padding: 1rem;
}

#QR-container .text h2 {
  font-weight: 700;
  color: #1f3251;
}

#QR-container .text p {
  font-size: 15px;
  font-weight: 400;
  color: #68778d;
  padding-top: 0;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
